<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.afenstermaker.c868capstoneproject">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.C868CapstoneProject"
            tools:targetApi="31">
        <activity
                android:name=".UI.Reports.ContactListReport"
                android:exported="false"
                android:label="Contact List Report"
                android:parentActivityName=".UI.Reports.Reports"/>
        <activity
                android:name=".UI.Reports.AssignmentScheduleReport"
                android:exported="false"
                android:label="Assignment Schedule Report"
                android:parentActivityName=".UI.Reports.Reports"/>
        <activity
                android:name=".UI.Reports.ClassScheduleReport"
                android:exported="false"
                android:label="Class Schedule Report"
                android:parentActivityName=".UI.Reports.Reports"/>

        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true"
                android:exported="true" />

        <activity
                android:name=".UI.Course.CourseDetail"
                android:exported="false"
                android:label="View Class"
                android:parentActivityName=".UI.Course.CourseList" />
        <activity
                android:name=".UI.Course.EditCourse"
                android:exported="false"
                android:label="Edit Class"
                android:parentActivityName=".UI.Course.CourseDetail" />
        <activity
                android:name=".UI.Assignment.EditAssignment"
                android:exported="false"
                android:label="Edit Assignment"
                android:parentActivityName=".UI.Assignment.AssignmentDetail" />
        <activity
                android:name=".UI.Assignment.AssignmentDetail"
                android:exported="false"
                android:label="View Assignment"
                android:parentActivityName=".UI.Assignment.AssignmentList" />
        <activity
                android:name=".UI.Reports.Reports"
                android:exported="false"
                android:label="Reports"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".UI.Assignment.AssignmentList"
                android:exported="false"
                android:label="All Assignments"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".UI.Course.CourseList"
                android:exported="false"
                android:label="All Classes"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>